.AuthError {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #FFFFFF;
    border-radius: 35px;
    padding: 75px 55px 55px;

    text-align: center;
    font-size: 18px;
    color: #f06666;

    &--shown {
        display: block;
    }

    button {
        min-width: 165px;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        padding: 16px 5px;
        margin: 35px auto 0;
        text-align: center;
        color: #FFFFFF;
        background-color: #2D9CDB;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
}