.Button {
    min-width: 165px;
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    padding: 16px 5px;
    margin: 35px auto 0;
    text-align: center;
    color: #FFFFFF;
    background-color: #2D9CDB;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }